body{
    background-color: #aaa9a9;
}
.nav{
    background-color: #696969;
    height: 80px;
    width:100%;
    overflow: hidden;
    padding-bottom: 10px;
}

.nav ul { 
    list-style: none; 
    position: relative; 
    float: left; 
    display: block; 
    left: 50%; 
    width: 100%;
}

.nav ul li { 
    position: relative; 
    float: left; 
    display: block; 
    right: 50%; 
    width: 20%;
    color: white;
}

.nav ul li form input{
    color: white;
}

.choose_product{
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: white;
}

.bordered_box{
    width: 80%;
    padding:10px;
    text-align: center;
    border: 2px solid #696969;
    margin: auto;
}