<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Choose</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>


<body>
    <div class="nav">
        <img style="height:40px;margin: 10px auto 0px auto" src="{{ url_for('static', filename='images/logo.png') }}">
        <div style="width:100%">
            <ul>
                <li>Home</li>
                <li>Furniture</li>
                {% for p in products %}
                <li>
                    <form method = "POST">
                        <input type = "submit" style = "cursor: pointer; border:none; background:none" name = "product" value = "{{ p }}">
                        <input type = "hidden" name = "min price" value = "0"/>
                        <input type = "hidden" name = "max price" value = "1000"/>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class = "choose_product">
        <!-- choose product to buy -->
        <div class="bordered_box"><h2>Our Top Picks</h2></div>
        {% if results %}
            <!-- price range -->
            <form method = "POST">
                <p style="margin-top:20px">Min price<input type = "text" name = "min price" value = "{{ minPrice }}"/></p>
                <p>Max price<input type = "text" name = "max price" value = "{{ maxPrice }}"/></p>
                <input type = "hidden" name = "product" value = "{{ product }}"/>
                <p><input type = "submit" value = "submit" /></p>
            </form>
            <table>
                <tr>
                    <td></td>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>Reviews</td>
                    <td>C Score<br/><i>(Lower is better)</i></td>
                </tr>
                {% for item in results %}
                    
                    <tr>
                        <td><img src="{{ item.image }}" style="width:200px"></td>
                        <td style="width:40%"><a href="{{ item.link }}">{{ item.name }}</a></td>
                        <td>£{{ item.price }}</td>
                        <td>{{ item.review }} Stars</td>
                        <td>{{ item.score}}</td>
                    </tr>


                {% endfor %}
            </table>

        {% endif %}
        </div>

</body>
</html>